body{
  background: #FDF6E3;
}
.custom-container{
  background: #F7EED5;
  height: 100vh;

}
.main-container{
  height: 100vh;
}

i.blue-icon{
  color: #268BD2;
  font-size: 50px;
  transition: all 1s ease-out;
}
.center-icon{
  text-align: center;
}
i.blue-icon:hover{
  font-size: 75px;
  color: #0769D8;
}
/* bootstrap override */
.card{
  transition: background 1s ease-out;
}
/* bootstrap override */
.btn{
  background: #268BD2;
}
