<div class="card-grey header-card">
  <h1>Enter a Word</h1>
  <form method="POST" action="/tranlsation">
    <div class="form-inline">
      <input class="field" type="text" name="word">
      <input class="btn" type="submit">
    </div>
  </form>
</div>
