<div class="card-blue">
  <a href="/"><i class="fas fa-undo-alt"></i></a>
  <p>Pinyin: <%= @translation[:first]%> </p>
  <p>Characters: <%=@translation[:chinese_first]%></p>
</div>
<div class="card-pascal">
  <p>Pinyin: <%= @translation[:second]%></p>
  <p>Characters: <%=@translation[:chinese_second]%></p>
</div>
